<section class="log-in">
  <h2>Log In</h2>

  <form class="log-in-form" action="<%= session_url %>" method="post">
    <%= auth_token %>

    <!-- <label for="username">Username</label> -->
    <input id="username" type="text" name="user[username]" value="" placeholder="username">

    <!-- <label for="password">Password</label> -->
    <input id="password" type="password" name="user[password]" value="" placeholder="password">

    <input id ="submit" type="submit" value="Log in">
  </form>

  <section class="errors">
    <%= render "shared/errors" %>
  </section>
</section>
