<section class="sign-up">
  <h2>Sign up</h2>

  <form class="sign-up-form" action="<%= users_url %>" method="post">
    <%= auth_token %>

    <input id="first-name" type="text" name="user[first_name]" value="" placeholder="first name">

    <input id="last-name" type="text" name="user[last_name]" value="" placeholder="last name">

    <input id="email" type="text" name="user[email]" value="" placeholder="email">

    <input id="username" type="text" name="user[username]" value="" placeholder="username">

    <input id="password" type="password" name="user[password]" value="" placeholder="password">

    <input id="submit" type="submit" value="Sign up">
  </form>

  <section class="errors">
    <%= render "shared/errors" %>
  </section>
</section>
