<h2>Subforums</h2>

<ul>
  <% @subforums.each do |subforum| %>
    <li>
      <%= link_to subforum.title, subforum_url(subforum) %>
      <br>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new subforum", new_subforum_url %>
