<% description = @subforum.description %>

<h2><%= @subforum.title %></h2>

<h3>Description</h3>
<p><%= description == "" ? "None" : description %></p>

<%= link_to "Edit subforum", edit_subforum_url(@subforum) %>
<%= link_to "See all subforums", subforums_url %>

<%# TODO: Create a link to new_post_url %>
<%# TODO: Create a list of links to each of @subforum's posts %>
