<h2><%= @subforum.title %></h2>

<h3>Description</h3>
<p><%= @subforum.description %></p>

<%= render "shared/errors" %>

<%= link_to "Edit subforum", edit_subforum_url(@subforum) %>

<%# TODO: Create a link to new_post_url %>
<%# TODO: Create a list of links to each of @subforum's posts %>
