/*show*/

.comments-show {
  display: block;
  width: 80vw;
  min-width: 400px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 45px auto;
  position: relative;
}

.comments-show > h2 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-show > .subforum {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin: 12px auto;
}

.comments-show > .post {
  display: block;
  width: 80%;
  min-width: 360px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.comments-show > .post > h3 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-show > .post > p {
  margin: 12px auto;
  font-family: 'Roboto', sans-serif;
}

.comments-show > .post > .title {
  font-weight: bold;
  font-size: 16px;
  color: orchid;
}

.comments-show > .post > .url {
  font-size: 12px;
}

.comments-show > .post > .url > a {
  color: cornflowerblue;
  font-family: 'Roboto', sans-serif;
}

.comments-show > .post > .url > a:hover {
  text-decoration: underline;
}

.comments-show > .comment {
  display: block;
  width: 80%;
  min-width: 360px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.comments-show > .comment > h3 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-show > .comment > p {
  margin: 16px auto;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
}

.comments-show > .comment > a {
  display: inline-block;
  padding: 0 16px;
  color: cornflowerblue;
  font-family: 'Roboto', sans-serif;
}

.comments-show > .comment > a:hover {
  text-decoration: underline;
}

.comments-show > .comment > .responses {
  display: block;
  width: 80%;
  min-width: 324px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.comments-show > .comment > .responses > h3 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-show > .comment > .responses li {
  color: #7d7c7b;
  margin: 12px auto;
  padding: 0 20px;
  font-size: 12px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.comments-show > .comment > .responses li > a {
  color: cornflowerblue;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.comments-show > .comment > .responses li > a:hover {
  text-decoration: underline;
}

.comments-show > .comment > .responses .comment-score {
  color: #7d7c7b;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.comments-show .new-response {
  display: block;
  margin: 16px auto;
}

.comments-show .new-response label {
  display: none;
}

.comments-show .new-response textarea {
  display: block;
  width: 80%;
  min-width: 291.6px;
  height: 72px;
  margin: 0 auto;
  border: 1px solid #e8e6e4;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 2px;
}

.comments-show .new-response #submit {
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 16px auto;
}

.comments-show .new-response #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.comments-show .new-response a {
  display: none;
}

.comments-show > .errors > ul {
  margin: 16px;
}

.comments-show > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

/*new*/

.comments-new {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 45px auto;
  text-align: center;
}

.comments-new > h2 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-new > p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin: 12px auto;
}

.comments-new > .post {
  display: block;
  width: 80%;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.comments-new > .post > h3 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-new > .post > p {
  margin: 12px auto;
  font-family: 'Roboto', sans-serif;
}

.comments-new > .post > .title {
  font-weight: bold;
  font-size: 16px;
  color: orchid;
}

.comments-new > .post > .url {
  font-size: 12px;
}

.comments-new > .post > .url > a {
  color: cornflowerblue;
  font-family: 'Roboto', sans-serif;
}

.comments-new > .post > .url > a:hover {
  text-decoration: underline;
}

.comments-new > form label {
  display: none;
}

.comments-new > form > textarea {
  display: block;
  margin: 16px auto;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 64%;
  border: 1px solid #e8e6e4;
  padding: 2px;
  height: 72px;
}

.comments-new > form > .buttons {
  display: block;
  margin: 16px auto;
  text-align: center;
}

.comments-new > form > .buttons > #submit {
  display: inline-block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0 4px;
}

.comments-new > form > .buttons > #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.comments-new > form > .buttons > a {
  display: inline-block;
  width: 49.8px;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  margin: 0 4px;
}

.comments-new > form > .buttons > a:hover {
  background-color: aquamarine;
}

.comments-new > .errors > ul {
  margin: 16px;
}

.comments-new > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

/*edit*/

.comments-edit {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 45px auto;
  text-align: center;
  position: relative;
}

.comments-edit > h2 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-edit > .button_to > input {
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 1px 1px #888888;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.comments-edit > .button_to > input:hover {
  cursor: pointer;
  opacity: 0.75;
}

.comments-edit > p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin: 12px auto;
}

.comments-edit > .post {
  display: block;
  width: 80%;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.comments-edit > .post > h3 {
  display: block;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-edit > .post > p {
  margin: 12px auto;
  font-family: 'Roboto', sans-serif;
}

.comments-edit > .post > .title {
  font-weight: bold;
  font-size: 16px;
  color: orchid;
}

.comments-edit > .post > .url {
  font-size: 12px;
}

.comments-edit > .post > .url > a {
  color: cornflowerblue;
  font-family: 'Roboto', sans-serif;
}

.comments-edit > .post > .url > a:hover {
  text-decoration: underline;
}

.comments-edit > form > label {
  display: block;
  margin: 16px auto 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.comments-edit > form > textarea {
  display: block;
  margin: 0 auto 16px auto;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 64%;
  border: 1px solid #e8e6e4;
  padding: 2px;
  height: 72px;
}

.comments-edit > form > .buttons {
  display: block;
  margin: 16px auto;
  text-align: center;
}

.comments-edit > form > .buttons > #submit {
  display: inline-block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0 4px;
}

.comments-edit > form > .buttons > #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.comments-edit > form > .buttons > a {
  display: inline-block;
  width: 49.8px;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  margin: 0 4px;
}

.comments-edit > form > .buttons > a:hover {
  background-color: aquamarine;
}

.comments-edit > .errors > ul {
  margin: 16px;
}

.comments-edit > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
