.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: aquamarine;
  height: 45px;
}

.header > img {
  display: block;
  width: 45px;
  height: 45px;
}

.header > h1 {
  position: absolute;
  bottom: 0;
  left: 45px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.header > nav {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.header .button_to {
  display: inline-block;
}

.header a, .header .button_to > input {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: cornflowerblue;
  background-color: #EFF7FF;
  border-radius: 4px 4px 0 0;
  padding: 4px 4px 0 4px;
  margin-right: 4px;
}

.header a:hover, .header .button_to > input:hover {
  cursor: pointer;
  text-decoration: underline;
}
