/*show*/

.posts-show {
  display: block;
  width: 80vw;
  min-width: 400px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 45px auto;
  position: relative;
}

.posts-show > h2 {
  display: block;
  background-color: aquamarine;
}

.posts-show > .info {
  font-size: 12px;
  margin: 12px auto;
}

.posts-show > .info > p > a {
  color: cornflowerblue;
}

.posts-show > .info > p > a:hover {
  text-decoration: underline;
}

.posts-show > p {
  margin: 16px auto;
}

.posts-show > .button_to > input {
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 1px 1px #888888;
  background-color: #fff;
}

.posts-show > .button_to > input:hover {
  cursor: pointer;
  opacity: .75;
}

.posts-show > a {
  display: inline-block;
  padding: 0 16px;
  color: cornflowerblue;
}

.posts-show > .comments {
  display: block;
  width: 80%;
  min-width: 320px;
  text-align: left;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.posts-show > .comments > h3 {
  display: block;
  background-color: aquamarine;
  text-align: center;
}

.posts-show > .comments > ul {
  padding: 0 8px;
}

.posts-show > .comments li {
  font-style: italic;
  color: #7d7c7b;
  margin: 12px auto;
  font-size: 12px;
}

.posts-show li > a {
  color: cornflowerblue;
  font-size: 16px;
}

.posts-show > .comments .comment-score {
  font-size: 12px;
}

.posts-show > .comments .comment-score > .button_to {
  display: inline-block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 1px 1px #888888;
}

.posts-show > .comments .comment-score > .button_to > input:hover {
  cursor: pointer;
  opacity: .75;
}

.posts-show > .comments .responses {
  display: block;
  width: 96%;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.posts-show > .comments .responses > ul {
  padding: 0 8px;
}

.posts-show > .comments > a {
  display: block;
  color: cornflowerblue;
  margin: 16px auto;
  text-align: center;
}

.posts-show a:hover {
  text-decoration: underline;
}

.posts-show > .errors > ul {
  margin: 16px;
}

.posts-show > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
}

/*new*/

.posts-new {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 45px auto;
}

.posts-new > h2 {
  display: block;
  background-color: aquamarine;
  text-align: center;
}

.posts-new > p {
  font-size: 12px;
  margin: 12px auto;
  text-align: center;
}

.posts-new .title-input-field, .posts-new .url-input-field {
  display: block;
  width: 307px;
  margin: 16px auto;
}

.posts-new .title-input-field > label {
  display: inline-block;
  width: 36px;
  font-size: 16px;
  font-weight: bold;
}

.posts-new .title-input-field > input {
  display: inline-block;
  width: 260px;
  font-size: 16px;
  border: 1px solid #e8e6e4;
  padding: 2px;
}

.posts-new .url-input-field > label {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.posts-new .url-input-field > input {
  display: block;
  width: 301px;
  font-size: 16px;
  border: 1px solid #e8e6e4;
  padding: 2px;
}

.posts-new > form > label {
  display: block;
  width: 307px;
  margin: 16px auto 0 auto;
  font-weight: bold;
}

.posts-new #body {
  display: block;
  width: 299px;
  margin: 0 auto 16px auto;
  height: 72px;
  border: 1px solid #e8e6e4;
  font-size: 16px;
  padding: 2px;
}

.posts-new > form > #submit {
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  margin: 16px auto;
}

.posts-new > form > #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.posts-new > .errors > ul {
  margin: 16px;
}

.posts-new > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
}

.posts-new > a {
  display: block;
  margin: 16px auto;
  text-align: center;
  color: cornflowerblue;
}

.posts-new > a:hover {
  text-decoration: underline;
}

/*edit*/

.posts-edit {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 45px auto;
}

.posts-edit > h2 {
  display: block;
  background-color: aquamarine;
  text-align: center;
}

.posts-edit > p {
  font-size: 12px;
  margin: 12px auto;
  text-align: center;
}

.posts-edit .title-input-field, .posts-edit .url-input-field {
  display: block;
  width: 307px;
  margin: 16px auto;
}

.posts-edit .title-input-field > label {
  display: inline-block;
  width: 36px;
  font-size: 16px;
  font-weight: bold;
}

.posts-edit .title-input-field > input {
  display: inline-block;
  width: 260px;
  font-size: 16px;
  border: 1px solid #e8e6e4;
  padding: 2px;
}

.posts-edit .url-input-field > label {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.posts-edit .url-input-field > input {
  display: block;
  width: 301px;
  font-size: 16px;
  border: 1px solid #e8e6e4;
  padding: 2px;
}

.posts-edit > form > label {
  display: block;
  width: 307px;
  margin: 16px auto 0 auto;
  font-weight: bold;
}

.posts-edit #body {
  display: block;
  width: 299px;
  margin: 0 auto 16px auto;
  height: 72px;
  border: 1px solid #e8e6e4;
  font-size: 16px;
  padding: 2px;
}

.posts-edit > form > #submit {
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  margin: 16px auto;
}

.posts-edit > form > #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.posts-edit > .errors > ul {
  margin: 16px;
}

.posts-edit > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
}
