/*index*/

.subforums-index {
  display: block;
  width: 80vw;
  min-width: 400px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 45px auto;
}

.subforums-index > h2 {
  display: block;
  background-color: aquamarine;
}

.subforums-index > ul {
  display: block;
  margin: 16px auto;
}

.subforums-index a {
  color: cornflowerblue;
  font-size: 16px;
}

.subforums-index a:hover {
  text-decoration: underline;
}

.subforums-index li {
  font-style: italic;
  color: #7d7c7b;
  font-size: 12px;
}

.subforums-index > a {
  display: block;
  margin: 16px 0;
}

/*show*/

.subforums-show {
  display: block;
  width: 80vw;
  min-width: 400px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 45px auto;
}

.subforums-show > h2 {
  display: block;
  background-color: aquamarine;
}

.subforums-show > .description {
  display: block;
  margin: 16px auto;
}

.subforums-show > .errors > ul {
  margin: 16px;
}

.subforums-show > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
}

.subforums-show > a {
  display: inline-block;
  padding: 0 16px;
  color: cornflowerblue;
}

.subforums-show > .posts {
  display: block;
  width: 80%;
  min-width: 320px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 16px auto;
}

.subforums-show > .posts > h3 {
  display: block;
  background-color: aquamarine;
}

.subforums-show > .posts li {
  font-style: italic;
  color: #7d7c7b;
  margin: 12px auto;
  font-size: 12px;
}

.subforums-show li > a {
  color: cornflowerblue;
  font-size: 16px;
}

.post-score {
  font-size: 12px;
}

.post-score > .button_to {
  display: inline-block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 1px 1px #888888;
}

.post-score > .button_to > input:hover {
  cursor: pointer;
  opacity: .75;
}

.subforums-show > .posts > a {
  display: block;
  color: cornflowerblue;
  margin: 16px auto;
}

.subforums-show a:hover {
  text-decoration: underline;
}

/*new*/

.subforums-new {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 45px auto;
}

.subforums-new > h2 {
  display: block;
  background-color: aquamarine;
  text-align: center;
}

.subforums-new .input-field {
  display: block;
  width: 307px;
  height: 18px;
  margin: 16px auto;
}

.subforums-new label {
  display: inline-block;
  width: 36px;
  font-size: 16px;
  font-weight: bold;
}

.subforums-new .input-field > input {
  display: inline-block;
  width: 260px;
  font-size: 16px;
  border: 1px solid #e8e6e4;
  padding: 2px;
}

.subforums-new > form > label {
  display: block;
  width: 307px;
  margin: 16px auto 0 auto;
}

.subforums-new #description {
  display: block;
  width: 299px;
  margin: 0 auto 16px auto;
  height: 72px;
  border: 1px solid #e8e6e4;
  font-size: 16px;
  padding: 2px;
}

.subforums-new > form > #submit {
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  margin: 16px auto;
}

.subforums-new > form > #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.subforums-new > .errors > ul {
  margin: 16px;
}

.subforums-new > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
}

.subforums-new > a {
  display: block;
  margin: 16px auto;
  text-align: center;
  color: cornflowerblue;
}

.subforums-new > a:hover {
  text-decoration: underline;
}

/*edit*/

.subforums-edit {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 45px auto;
  position: relative;
}

.subforums-edit > h2 {
  display: block;
  background-color: aquamarine;
  text-align: center;
}

.subforums-edit > .button_to > input {
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 1px 1px #888888;
  background-color: #fff;
}

.subforums-edit > .button_to > input:hover {
  cursor: pointer;
  opacity: .75;
}

.subforums-edit .input-field {
  display: block;
  width: 307px;
  height: 18px;
  margin: 16px auto;
}

.subforums-edit label {
  display: inline-block;
  width: 36px;
  font-size: 16px;
  font-weight: bold;
}

.subforums-edit .input-field > input {
  display: inline-block;
  width: 260px;
  font-size: 16px;
  border: 1px solid #e8e6e4;
  padding: 2px;
}

.subforums-edit > form > label {
  display: block;
  width: 307px;
  margin: 16px auto 0 auto;
}

.subforums-edit #description {
  display: block;
  width: 299px;
  margin: 0 auto 16px auto;
  height: 72px;
  border: 1px solid #e8e6e4;
  font-size: 16px;
  padding: 2px;
}

.subforums-edit > form > #submit {
  display: block;
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 5px #888888;
  font-size: 16px;
  margin: 16px auto;
}

.subforums-edit > form > #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.subforums-edit > .errors > ul {
  margin: 16px;
}

.subforums-edit > .errors li {
  text-align: center;
  color: coral;
  font-style: italic;
}
