/*new*/

.sign-up {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 45px auto;
}

.sign-up > h2 {
  display: block;
  background-color: aquamarine;
  text-align: center;
}

.sign-up-form > input {
  display: block;
  margin: 16px auto;
  font-size: 16px;
}

.sign-up-form > #submit {
  border: 1px solid #e8e6e4;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 5px 5px #888888;
}

.sign-up-form > #submit:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.sign-up > .errors {
  text-align: center;
  color: coral;
  margin: 16px;
}
